body {
    text-align: center;
    background-color: yellow;
}

#lettresAlphabet {
    width: 690px;
}

.lettreCache {
    display: inline-block;
    width: 35px;
}

.boutonLettre {
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    width: 50px;
}

#infosJeu{
    display: none;
}